*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}

body{
	font-family: "Open Sans",sans-serif;
}

nav{
	padding: .8rem;
	margin-bottom: 2rem;
	border-bottom: 1px solid grey;
}

nav>ul{
	list-style-type: none;
}

nav .nav, nav .nav-logo{
	margin: .5rem;
	display: inline;
}

/*INTRO SECTION*/

#intro{
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
	text-align: center;
}

#intro h2, #intro p{
	margin-bottom: 1rem;
}

#intro button{
	color: white;
	/*font weight - declares the thickness of the text*/
	font-weight: bold;
	background-color: #c2395b;
	padding: 1rem;
	font-size: 1rem;
	border-radius: 25px;

}

/*info section*/

#info{
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
	text-align: center;
}

#info>h2{
	margin-bottom: 1rem;
}

#info>div{
	border: 1px solid black;
	display: inline-block;
	vertical-align: top;
	width: 30%;
	margin-left: .5rem;
	margin-right: .5rem;
	padding: 5px;
	/*set the minimum height for the element especially if the content does not reach the target height*/
	min-height: 125px;

}
/*assignment start*/

#pre-footer{
	vertical-align: top;
	width: 1350px;
	margin-bottom: .75rem;
	color: white;
	background-color: #0E3456;
	height: 170px;
	margin-top: 1rem;
	padding: 20px;
	font-size: 17px;
	font-family: calibri;


}

#pre-footer>div{
	display: inline-block;
	vertical-align: text-top;
	width: 20%;
	margin-left: .25rem;
	line-height: 1.4;



}

.footer span{
	margin-left: 1.5rem;
	font-size: 15px;
	vertical-align: top;
	padding-bottom: .5rem;

}
